<h2>Olá {{ name }}<h2>
<p>
	Parece que solicitou a alteração da sua senha, caso deseja prosseguir clique no link abaixo:
</p>
<p>
<a href="{{ resetPasswordUrl }}" target="_blank" rel="noopener noreferrer">Alterar senha</a>.
</p>
<p>Caso não tenha sido você quem fez essa solicitação, desconsidere este email.</p>
